.filter-container *{
    list-style: none;
}

.filter-container{
    position: absolute;
    top: 50px;
    left: 65px;
    display: flex;
    width: 220px;
    justify-content: space-between;
    align-items: center;
}

.filter-container.position-fix{
    top: 16px;
}

.filter-container input {
    display: none;
}

.options-container{    
    z-index: 1;
    position: relative;
    font-size: 18px;
    background-color: #901C1C;
    color: #ffffff;
    width: 120px;
    padding: 10px 5px;
    border-radius: 8px;
    
    height: 25px;
    overflow: hidden;
    top: 0px;
}

img.reverseArrow{
    transform: rotate(270deg);
} 

.currentOpt{
    cursor: pointer;
    padding-left: 10px;
    border-radius: 8px 8px 0 0;
}

.arrow{
    position: absolute;
    right: 2px;
    padding: 2px 10px;
    width: 8px;
    transform: rotate(90deg);
    cursor: pointer;
    top: 16px;
}

.dropdown {
    overflow: visible;
    height: 110px;
    top: 42.5px;
}

.opt2, .opt3{
    position: absolute;
    left: 15px;
    background-color: #901C1C;
    width: 115px;
    cursor: pointer;
    color: #ffffff;
}
.opt2{
    content:"option2";
    top: 50px;
}
.opt3{
    content: "option3";    
    top: 92px;  
}

.subMenuBorders::before,.subMenuBorders::after{
    content:"";
    position: absolute;
    top: 45px;
    border-top: white solid 1px;
    height: 1px;
    width: 110px;
    left: 10px;
    
}
.subMenuBorders::after{
    top: 85px;
}

.order1{
    order: 1;
}
