@import url("./book.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0 100px;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2vh 17vw;
}

h1 {
    color: #901C1C;
}

.logo {
    height: 50px;;
}

.photographer_section {
    max-width: 1440px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin: 50px auto;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    margin: 0;
    margin-bottom: -10px;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.photographer_section.photographer_section article a{
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.index_description{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.index_location{
    color: #901c1c;
    font-weight: bold;
    line-height: 20px;
    font-size: 16px;
}

.index_tagline{
    font-size: 13px;
    line-height: 16px;
}

.index_price{
    font-size: 12px;
    color: #757575;
    line-height: 14px;
}